/* Main color scheme */
:root {
    /* General */
    --MAIN-TEXT-color: #fff; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: unset; /* Color of titles h2-h3-h4-h5-h6 */
    --MAIN-LINK-color: #00a3f3; /* Color of links */
    --MAIN-LINK-HOVER-color: #7bc5eb; /* Color of hovered links */
    --MAIN-ANCHOR-color: #00a3f3; /* color of anchors on titles */
    --MENU-HEADER-BG-color: #00000000; /* Background color of menu header */

    /* Sidebar */
    --MENU-SEARCH-BG-color: #167ad0; /* Search field background color */
    --MENU-SEARCH-BOX-color: #33a1ff; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #a1d2fd; /* Override search field icons color */

    --MENU-SECTION-ACTIVE-CATEGORY-color: #fff; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #ffffff1c; /* Color of background for the active category (only) */
    --MENU-SECTIONS-BG-color: linear-gradient(
        150deg,
        #8000ffb3 0%,
        #00bcf4b3 75%,
        #00ff5ab3 100%
    ); /* Background color of side bar */
    --MENU-SECTIONS-ACTIVE-BG-color: #00000033; /* Background color of the active section and its children */
    --MENU-SECTIONS-LINK-color: #fff; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #cfcfcf; /* Color of links in menu, when hovered */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MAIN-BG-color: #202020; /* Background color of main content */

    /* Code blocks and inline code */
    --CODE-BLOCK-color: #f8f8f2; /* Color of code block font */
    --CODE-BLOCK-BG-color: #000000; /* Background color of code block */
    --CODE-INLINE-color: #00f3d3; /* Color of inline code (code enclosed in `single backticks`) */
    --CODE-INLINE-BG-color: #2d2e33a8; /* Background color of inline code */

    /* Headlines */
    --MAIN-TITLES-H1-color: #0060f3; /* Color of h1 headlines */
    --MAIN-TITLES-H2-color: #f300b2; /* Color of h2 headlines */
    --MAIN-TITLES-H3-color: #00f3d3; /* Color of h3 headlines */
    --MAIN-TITLES-H4-color: #ffffff; /* Color of h4 headlines */
    --MAIN-TITLES-H5-color: #ffffff; /* Color of h5 headlines */
    --MAIN-TITLES-H6-color: #ffffff; /* Color of h6 headlines */

    /* Notices */
    --BOX-BG-color: #000;
    --BOX-ORANGE-color: #b97300;
    --BOX-ORANGE-TEXT-color: #ffb200;
    --BOX-BLUE-color: #002cb9;
    --BOX-BLUE-TEXT-color: #0094ff;
    --BOX-GREEN-color: #00b901;
    --BOX-GREEN-TEXT-color: #2bff00;
    --BOX-RED-color: #b90000;
    --BOX-RED-TEXT-color: #ff0000;
}

/* General */
html {
    font-size: 20px;
}

body {
    font-family: "Public Sans";
    font-size: 0.85rem;
    letter-spacing: -0.015rem;
}

#body-inner {
    padding: 0 2rem 4rem 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Metropolis";
}

body h1 {
    font-size: 2.5rem;
    text-transform: unset;
}

body h2 {
    font-size: 1.8rem !important;
}

body h3 {
    font-size: 1.4rem !important;
}

body h4 {
    font-size: 1.3rem !important;
}

body h5 {
    font-size: 1.2rem !important;
}

body h6 {
    font-size: 1.1rem !important;
}

#body a.highlight:after {
    height: unset;
}

#body a:hover {
    text-shadow: 0 0 0.4rem var(--MAIN-LINK-color);
}

/* Sidebar */
#sidebar {
    font-size: 0.75rem;
}

#sidebar .nav-title {
    text-transform: unset;
    padding-top: 1rem;
}

#header-wrapper,
#sidebar hr {
    border-bottom: unset;
}

/* Footer */
#footer {
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    font-size: 0.65rem;
    text-align: center;
}

#footer p {
    margin: 0;
}

/* Inline code & code blocks */
pre code {
    white-space: pre;
}

code {
    font-family: "Fira Code";
    /* Disable borders for inline code completely.
    If desired, comment the line below and set 
       border-color instead. */
    border: 0;
}

/* Searchbox icon color */
.searchbox label,
.searchbox span {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

/* Custom Copy-to-clipboard button style in code blocks */
pre .copy-to-clipboard-button {
    border-radius: 1rem;
    border-color: #00000000 !important;
    color: #000 !important;
    font-size: 110%;
    padding: 4px 2px 3px 22px;
    right: 0.65rem;
    top: 0.55rem;
}

pre .copy-to-clipboard-button:hover {
    background-color: #fff !important;
}

/* Notices */
.notices pre {
    background-color: #141414 !important;
}

/* Fonts */
/* Main font */
@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/PublicSans-Light.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/PublicSans-SemiBold.woff2") format("woff2");
    font-display: swap;
}

/* Headline font */
@font-face {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/metropolis-bold-webfont.woff2") format("woff2");
    font-display: swap;
}

/* Code font */
@font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/FiraCode-Regular.ttf") format("truetype");
    font-display: swap;
}

/* @font-face {
    font-family: 'Lode Sans Mono';
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/LodeSansMono.otf") format("opentype");
    font-display: swap;
} */
