/* Main colors */
:root {
    --MAIN-TEXT-color: #fff; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #f300b2; /* Color of titles h2-h3-h4-h5-h6 */
    --MAIN-LINK-color: #00a3f3; /* Color of links */
    --MAIN-LINK-HOVER-color: #7bc5eb; /* Color of hovered links */
    --MAIN-ANCHOR-color: #00a3f3; /* color of anchors on titles */

    --MAIN-CODE-color: #f8f8f2; /* fallback color for code background */
    --MAIN-CODE-BG-color: #000000; /* fallback color for code text */

    --MENU-HOME-LINK-color: unset; /* Color of the home button text */
    --MENU-HOME-LINK-HOVER-color: unset; /* Color of the hovered home button text */

    --MENU-HEADER-BG-color: unset; /* Background color of menu header */
    --MENU-HEADER-BORDER-color: unset; /*Color of menu header border */

    --MENU-SEARCH-BG-color: #167ad0; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #33a1ff; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #a1d2fd; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color: #00000033; /* Background color of the active section and its children */
    /*--MENU-SECTIONS-BG: linear-gradient(150deg, #7e00ff 0%, #00e0f4 75%, #00ff5a 100%); */ /* Background color of other sections */
    --MENU-SECTIONS-BG: linear-gradient(150deg, #8000ffb3 0%, #00bcf4b3 75%, #00ff5ab3 100%); /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #fff; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #cfcfcf;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #fff; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #ffffff1c; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #20272b; /* Color of <hr> separator in menu */
}

/* General */
html {
    font-size: 20px;
}

body {
    font-family: "Public Sans";
    font-size: 0.85rem !important;
    letter-spacing: -.015rem;
    background-color: #202020;
}

h1 {
    font-family: "Metropolis";
    font-size: 2.5rem !important;
    text-transform: unset;
    color: #0060f3;
}

h2, h3, h4, h5, h6 {
    font-family: "Metropolis";
    font-size: 1.5rem !important;
}

#body a.highlight:after {
    height: unset;
}

#body a.highlight:hover {
    text-shadow: 0px 0px 8px var(--MAIN-LINK-color);
}

code {
    font-family: "Fira Code";
    background-color: #2d2e33;
    border-color: #2d2e33;
    color: #00f3d3;
}

/* Copy-to-clipboard in code blocks */
pre .copy-to-clipboard {
    background-image: url(../images/clippy.svg);
    background-color: #303030ab;
    border-color: #00000000;
    border-radius: 13px;
    padding: 12.5px;
    right: 17px;
    top: 15px;
}

/* Sidebar */
#sidebar {
    background: var(--MENU-SECTIONS-BG);
    font-size: 0.75rem;
}

#sidebar .nav-title {
    text-transform: unset;
    padding-top: 1rem;
}

#header-wrapper, #sidebar hr {
    border-bottom: unset;
}

/* Header */
#top-bar{
    background-color: #2a2a2a;
}

/* Footer */
#footer {
    color: #fff;
}

/* Fonts */
/* Main font */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/PublicSans-Light.woff2") format("woff2");
}

@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/PublicSans-SemiBold.woff2") format("woff2");
}

/* Headline font */
@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/metropolis-bold-webfont.woff2") format("woff2");
}

/* Code font */
@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/FiraCode-Regular.ttf") format("truetype");
}

/* @font-face {
    font-family: 'Lode Sans Mono';
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/LodeSansMono.otf") format("opentype");
} */

/* Navigation header restructure starts here */
#navigation {
    position: relative;
    top: 23%;
    float: right;
}

#navigation a.highlight:after {
    display: none;
}

/* Workaround for white background on hover */
#navigation .nav {
    background-color: #ffffff00 !important;
}

#body .nav {
    font-size: 25px;
    position: inherit;
}

#body .nav > i {
    display: unset;
}

#top-github-link {
    padding-right: 2rem;
}

/* Workaround for breadcrumb bar pushing "Edit this page" down on smaller horizontal res */
#body #breadcrumbs {
    width: unset;
    max-width: 70%;
}

/* Media queries */
@media only all and (max-width: 59.938em) {
    #body #navigation {
        position: inherit;
        margin-right: inherit !important;
        width: inherit;
        display: inherit;
    }
}
/* Navigation header restructure ends here */